[Desktop Entry]
Encoding=UTF-8
Name=grow
Comment=grow P2P Cryptocurrency
Comment[fr]=grow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=grow, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/grow-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/grow;
Categories=Office;
